article {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 50em;
  width: 90vw;
  border-bottom: 1px solid #ddd;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 3vh 0 3vh 0;
  text-align: center;
}

/* TODO 2 - set the image max-width */
img {
  max-width: 100%;
}

/* TODO 4.1 - display the SFO image at 50vw */
img#sfo {
  transition: width 0.5s;
  max-width: 50vw;
}
/* TODO 5.1 - add a media query */
@media screen and (max-width: 700px) {
  img#sfo {
  max-width: 90vw;
  width: 90vw;
  }
}


figcaption {
  color: #bb021e;
  font-family: 'Roboto condensed', sans-serif;
  padding: 2em 0;
  text-align: center;
}

figure {
  margin: 1em 0 1em 0;
}

h1 {
  color: #bb021e;
  font-family: 'Roboto condensed', sans-serif;
  font-size: 6vw;
  font-weight: 500;
  margin: 0 0 1em 0;
  padding: 0 0 1em 0;
  border-bottom: 1px solid #ddd;
}

p {
  color: #444;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.6em;
  margin: 0 auto 1em auto;
  text-align: justify;
  max-width: 50em;
}
