/* main.css */

.flexbox .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: #eee;
	overflow: auto;
}
.flexbox .container .col {
	flex: 1;
	padding: 1rem;
}


/* TODO 3 - style the page */

/* TODO 4 - use media query */
/* Menggunakan media query agar teks terbaca ketika lebar browser menjadi 48rem atau 768 px */
@media screen and (max-width: 48rem) {
	.flexbox .container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		flex-flow: column;
	}
}

/* TODO 5.2 - use flexbox */
.container {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -ms-flexbox; /* TWEENER - IE 10 */
	display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
	background: #eee;
	overflow: auto;
}
	.container .col {
	flex: 1;
	padding: 1rem;
}

/* TODO 5.4 - use media query with Flexbox*/
.container {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -ms-flexbox; /* TWEENER - IE 10 */
	display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
	background: #eee;
	overflow: auto;
}
	.container .col {
	flex: 1;
	padding: 1rem;
}
